:root{
    --main-color:#ef4a6f;
    --bg-color: #f5ffcb;
    --accent-color: #ffbecc;
    --radius: 6px;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

html, body {
    background-color: var(--bg-color);
    width: 100%;
    height: 92vh;

}

*:focus {
    outline: none;
}

.main {
    display: grid;
    grid-template-columns: 290px auto;
    margin: 40px;
    height: 80vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.title h1 {
    background-color: var(--main-color);
    color : white;
    padding: 2vh;
    padding-left: 40px;
    width: 100%;
}

.filter-section {
    width: 250px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}

.description-box {
    background-color: white;
    font-size: 14px;
    width: 250px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: var(--radius);
}

.filter-box {
    background-color: var(--main-color);
    width: 250px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: var(--radius);
}

.filter-form {
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

h4 {
    font-size: 13px;
    padding: 10px;
}

.form-element {
    padding: 10px;
}

input {
    width: 100%;
    padding: 5px;
    border:none;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    width: 100%;
    padding: 7px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

option{
    width: 100%;
}

button {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color:white;
	cursor:pointer;
	color:black;
	padding:12px 25px;
    text-decoration: none;
    border:none;
    outline:none;
    margin: auto;
    border-radius: var(--radius);
    transition: 0.5s;
    width: 100%;
    margin-top: 15px;
}

button:hover{
    background-color: rgba(255,255,255,0.7);
}

.sources-title-card {
    height: auto;
    width: 100%;
    background-color: var(--main-color);
    color: white;
    margin-top: 25px;
    padding: 10px;
    padding-left: 13px;
    border-radius: var(--radius);
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data-source {
    background-color: white;
    margin: 15px 0 15px 0;
    width: 100%;;
    height: 35px;
    width: 10x;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 32px;
    display :grid;
    grid-template-columns: 85% auto;
}

#second-sources {
    display: none;
}

.data-source-text {
    padding-left: 10px;
    font-weight: 650;
}

.source-img {
    height: 75%;
    vertical-align: middle;
    margin: auto;
    border-radius: 50%;
}

.table-box {
    height: 100%;
    width: 100%;
}

.name-cell {
    padding: 3px !important;
}

.name-cell span {
    padding-top: 7px;
    padding-bottom: 7px;
}

.provider-logo {
    height: 1.65em;
    vertical-align:middle;
    margin-left: 2px;
    margin-right: 10px;
    border-radius: 50%;
}

thead {
    color:white;
}

.table-section {
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: auto 1fr;
}

.table-box table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: var(--radius);
    height: auto;
}

.table-box th{
    text-align: left;
    font-size: 20px;
    padding: 15px 15px 15px 10px;
    border: none;
    border-radius: 0;
}
.table-box td{
    margin:10px;
    padding:10px;
    border: none;
    border-radius: 0;
}

.table-body-row:nth-child(even){
    background-color: var(--accent-color);
}

.table-body-row:nth-child(odd){
    background-color: white;
}

thead{
    background-color: var(--main-color);
}

table th:first-child{
    border-top-left-radius:var(--radius);
}
table th:last-child{
    border-top-right-radius:var(--radius);
}

table tr:last-child td:first-child{
    border-bottom-left-radius:var(--radius);
}

table tr:last-child td:last-child{
    border-bottom-right-radius:var(--radius);
}

.map {
    margin-top: 40px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: var(--radius);
}

footer {
    height: 8vh;
    background-color: white;
    width: 100%;
    padding: 20px;
    padding-left: 40px;
    font-size: 15px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 680px) {
    .filter-section {
        margin: 0px 5vw 20px 0;
        width: 90vw;
    }

    .main {
        display: grid;
        grid-template-columns: 100vw;
        margin: 20px 5vw auto 5vw;
        grid-template-rows: auto 1fr auto;
        height:auto;
    }

    .description-box {
        width: 90vw;
    }
    
    .filter-box {
        width: 90vw;
    }

    .table-box {
        width: 90vw;
        margin-bottom: 40px;
    }

    .table-section{
        grid-template-rows: auto auto;
    }

    .table-section {
        width: 90vw;
        grid-template-rows: auto 500px auto;
    }

    .map {
        margin: 0;
    }

    #first-sources {
        display: none;
    }

    #second-sources {
        display: block;
    }

    footer {
        position: sticky;
    }
  }

  @media only screen and (max-height: 1000px) {
    footer {
        position: sticky;
    }

    .main {
        height: auto;
    }
  }
