* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.title h1 {
    background-color: rgb(31, 73, 153);
    color : white;
    padding: 30px;
}


.table-box th{
    text-align: left;
    width: 350px;
    font-size: 20px;
    padding: 20px;
}
.table-box td{
    margin:10px;
    padding:10px;
}
.table-box table{
    /* border: 1px solid #999;
    border-width: medium; */
    margin:0;
    padding: 1 rem;
    position: absolute;
    left: 500px;
    top: 130px;
}